/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Header styles */
header {
  background-color: #0a192f;
  color: #8fb2c1;
  padding: 30px;
}


nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 14px;
}

.motto {
  color: #8fb2c1;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #8fb2c1;
  text-decoration: none;
  padding-left: 10px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {color: #64ffda;}
nav a span {color: #64ffda;}

/* Section styles */
section {
  padding-top: 80px;
}
section{padding-left: 20px;padding-right: 20px;}

#about, #skills, #portfolio, #contact {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 20px;
  color: #8fb2c1;
  margin-bottom: 10px;
  width: 100%;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

h1 span{
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}


h2 {
  font-size: 16px;
  margin-bottom: 10px;
}



/* Footer styles */
footer {
  width: 100%;
  background-color: #0a192f;
  color: #8fb2c1;
  padding: 20px;
  text-align: center;
}

.banner {
  background: rgb(68, 104, 124);
  background: -moz-linear-gradient(90deg, rgba(68, 104, 124, 1) 0%, rgba(198, 159, 114, 1) 89%, rgba(242, 195, 127, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(68, 104, 124, 1) 0%, rgba(198, 159, 114, 1) 89%, rgba(242, 195, 127, 1) 100%);
  background: linear-gradient(90deg, rgba(68, 104, 124, 1) 0%, rgba(198, 159, 114, 1) 89%, rgba(242, 195, 127, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#44687c", endColorstr="#f2c37f", GradientType=1);
}
.hero{
  flex-basis: 60%;
  padding-left: 70px;
  padding-right: 10px;
}

.heroimage{
  flex-basis: 40%;}

#nome{
  font-size: 3rem;
}

.hero h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.ready {
  display: inline-block;
  background-color: #0a192f;
  color: #8fb2c1;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ready:hover {
  background-color: #64ffda;;
  transform: translateY(-5px);
}

.green{color: #64ffda;}

/****************************************/

.logo{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right: 3%;
}

.logo div{
  position:absolute;
  width:40px;height:22px;
}

.logo div:nth-of-type(2){transform:rotate(60deg)}
.logo div:nth-of-type(3){transform:rotate(-60deg)}


.logo div div{width:100%;height:100%;position:relative}

.logo div div span{
  position:absolute;
  width:2px;height:0%;
  background:#64ffda;;z-index:999999;
}

.logo .h1{left:0;
  animation: load1 7.2s ease infinite;
}
.logo .h2{right:0;
  animation: load2 7.2s ease .6s infinite;
}
.logo .h3{right:0;
  animation: load3 7.2s ease 1.2s infinite;
}
.logo .h4{right:0;
  animation: load4 7.2s ease 1.8s infinite;
}
.logo .h5{left:0;
  animation: load5 7.2s ease 2.4s infinite;
}
.logo .h6{left:0;
  animation: load6 7.2s ease 3s infinite;
}

@keyframes load1 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.944444433%{top:0;height:0}
/*   91.6666667%{top:0;height:0%;} */
}

@keyframes load2 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.944444433%{bottom:0;height:0}
/*   91.6666667%{bottom:0;height:0%} */
}

@keyframes load3 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.94444443%{bottom:0;height:0}
/*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load4 {
  0%{top:0;height:0}
  6.944444444%{top:0;height:100%}
  50%{bottom:0;height:100%}
  59.94444443%{bottom:0;height:0}
/*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load5 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.94444443%{top:0;height:0}
/*   91.6666667%{top:0;height:0%;} */
}

@keyframes load6 {
  0%{bottom:0;height:0}
  6.944444444%{bottom:0;height:100%}
  50%{top:0;height:100%}
  59.94444443%{top:0;height:0}
/*   91.6666667%{top:0;height:0%;} */
}


/****************************************/

.tab__content.active {
  display: block;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
}

.tabs-buttons {
  display: flex;
  flex-direction: column;
}

.tab__button {
  text-align: left;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 16px;
  padding: 15px;
}

.tabs-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.tab__content {
  display: none;
  flex-basis: 100%;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.tab__content ul>li {
  margin-bottom: 10px;
}

.tabs-content h2,h3{
  text-align: left;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 18px;
  margin-bottom: 5px;
  color: #8fb2c1;
}
.tabs-content h3{
  font-size: 12px;
 
  padding-bottom: 25px;
}
.tabs-content h2 a{
  color: aqua;
  text-decoration: none;
}

.tabs-content h2 a:hover{
  color: #64ffda;
}

.tab__content.active {
  display: block;
}


.active{
  border-left: 1px solid #64ffda;
}

/****************************************/

.dots-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  width: 170px;
  height: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #64ffda;
}

.animated-hr {
  height: 2px;
  width: 170px;
  border: none;
  border-top: 2px solid #64ffda;
}

.skills-experience {
  display: flex;
  flex-wrap: wrap;
}


.experience {
  flex: 1;
  padding: 20px;
}

.skills {
  flex: 1;
  padding: 20px;
}

.skill {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.skill h3 {
  font-size: 12px;
}

.skill-bar {
  height: 5px;
  background-color: #8fb2c1;
  flex: 1;
}

.skill-level {
  height: 5px;
  background-color: #64ffda;
}

.experience h2, .skills h2{
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #8fb2c1
}

.experience p{
  margin-bottom: 5px;
}

#social{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#social p{
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#social a{
  margin-right: 10px;
}

.butfooter{
  margin-bottom: 50px;
}

.hide-mobile {
  display: none;
}
/****************************************/



@media screen and (max-width: 450px) {

  nav {
    font-size: 11px;
  }

}

@media (min-width: 500px) {
  .wrappercard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
    
  }

}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  

  .maincard {
    padding-left: 20px;
    padding-right: 20px;
  }
  

  
}

@media screen and (max-width: 610px) {
.banner {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.heroimage{
  display: none;
}

.hero{
  flex-basis: 100%;
  margin-top: -50px;
  padding: 0px;
  padding-bottom: 20px;
}

}

@media screen and (max-width: 650px) {
  .motto{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .skills-experience {
    flex-direction: column;
  }
  .wrappermain{
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 787px) {
  .hero p {
   display: none;
  }
}


@media screen and (max-width: 830px) {

  nav{
    font-size: 12px;
  }

  nav li{
    margin-right: 0px;
  }

  nav a{
    padding-left: 3px;
  }

}

@media screen and (max-width: 972px) {

  .hide-mobile {
    display: block;
  }
  .buthide{
    display: none;
  }
  .hero h3,h1,p{
    font-size: 1rem!important;
  }
}

@media screen and (max-width: 375px) {
  #about{
    display: none;
  }
  nav ul{
    display: none;
  }
  .motto{
    display: block;
    margin-left: 20px;
  }
  }


.card {
  display: flex; /* [1] */
  flex-direction: column; /* [2] */
  background-color: #0a192f;
  padding: 20px;
  color: #8fb2c1;
  border-radius: 10px;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.wrappermain{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

  video{
    height: 80%;

  }
.maincard {
  display: flex; /* [1] */
  flex-direction: column; /* [2] */
  background-color: #0a192f;
  padding: 20px;
  color: #8fb2c1;
  border-radius: 10px;
  justify-content: center;
}

#portfolio a{color: #8fb2c1;text-decoration: none;}

#portfolio a:hover{color: #64ffda;}

.card > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;}

.card__content {
  flex-grow: 1; /* [3] */
  display: flex; /* [4] */
  flex-direction: column;
}

.card_link {
  margin-top: 10px; /* [5] */
}